---
const stats = [
  {
    name: 'Expert',
    value: '1',
  },
  {
    name: 'Years',
    value: '15',
  },
  {
    name: 'Projects',
    value: '250+',
  },
  {
    name: 'Awards',
    value: "3",
  },
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-16 lg:grid-cols-2 lg:gap-24">
      
      <div class="flex flex-col gap-10">
        <!-- Mission description -->
        <div class="space-y-8 sm:space-y-12">
          <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Gold Coast Stone Tiling Experts</h2>
          <div class="space-y-6">
            <h3 class="text-2xl font-medium tracking-tight">Timeless Elegance with Stone Tile Designs</h3>
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              At Golden Tiling, we believe in the enduring beauty and natural charm that stone tiling brings to both indoor and outdoor spaces. 
              Our Stone Tiling services on the Gold Coast are a testament to the harmonious blend of nature's finest materials and our unwavering 
              commitment to craftsmanship. If you're seeking to infuse your surroundings with timeless elegance and sophistication, you've come to the right place.
            </p>
            <h3 class="text-2xl font-medium tracking-tight">Gold Coast's Stone Tiling Experts</h3>
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              At Golden Tiling, we understand the unique charm and versatility of stone tiling, and our dedicated team of Gold Coast 
              stone tiling specialists is here to bring your vision to life. With a meticulous eye for detail and a passion for precision, 
              we ensure that every stone tile is placed with the utmost care, creating spaces that exude natural beauty and enduring aesthetics.
            </p>
          </div>
        </div>

      </div>

      <div class="flex flex-col gap-10 mt-20">
        

        <div class="flex flex-col gap-10">
          <!-- Mission description -->
          <div class="space-y-8 sm:space-y-12">
            <div class="space-y-6">
              <h3 class="text-2xl font-medium tracking-tight">Enduring Quality, Lasting Beauty</h3>
              <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
                Our commitment to superior craftsmanship and the use of premium, locally sourced stones sets us apart in the Gold Coast tiling industry. 
                Whether you're envisioning a luxurious marble-floored interior or a slate-tiled outdoor oasis, Golden Tiling is your trusted partner for 
                turning your dreams into reality. Explore the possibilities of stone tiling with us, and elevate the beauty and value of your Gold Coast property.
              </p>
              <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
                Discover the timeless allure of stone tiling with Golden Tiling. Contact us today to schedule a consultation and experience the perfect synergy 
                of nature's elegance and Gold Coast craftsmanship in your home or business. Our Gold Coast stone tiling services are tailored to your needs, 
                ensuring that your space not only looks stunning but also stands strong against the coastal elements, making it a lasting investment for years to come.
              </p>
            </div>
          </div>

        <!-- Stats -->
        
      </div>
    </div>
    <div class="w-full">
      <dl class="grid grid-cols-1 gap-6 sm:grid-cols-2">
        {
          stats.map((stat) => (
            <div class="border-primary-900/10 dark:border-primary-300/10 rounded-3xl border p-6">
              <dt class="text-base">{stat.name}</dt>
              <dd class="text-3xl font-medium tracking-tight">{stat.value}</dd>
            </div>
          ))
        }
      </dl>
    </div>
  </div>
</section>
