---
const values = [
  [
    {
      ref: '01',
      name: 'Tile Screeding: The Foundation of Your Tiling Project',
      description:
        'Tile screeding is the essential first step in any tiling project. It involves creating a level and sturdy substrate to ensure that your tiles adhere properly, preventing cracks, unevenness, and other issues that may develop over time. Our comprehensive tile screeding services lay the groundwork for a flawless tiling installation, guaranteeing both aesthetic appeal and long-term durability.',
    },
    {
      ref: '02',
      name: 'The Expertise Behind Our Tile Screeding Services',
      description:
        'Our team of experienced professionals understands the intricacies of tile screeding, using industry-best practices and precision techniques. Whether you are renovating your bathroom, kitchen, or embarking on a commercial development project, our expertise ensures that your tiles will be laid on a stable and durable foundation.',
    },
  ],
  [
    {
      ref: '03',
      name: 'Tailored Tile Screeding Solutions for Every Space',
      description:
        'Tile screeding is not a one-size-fits-all process. Different spaces have varying requirements. We offer customized tile screeding solutions that cater to the unique demands of each area, from ensuring proper drainage in a bathroom to providing a level surface in a commercial establishment. Our attention to detail ensures that your project receives the tailored care it deserves.',
    },
    {
      ref: '04',
      name: 'Ensuring Long-Term Tile Durability',
      description:
        'Beyond the initial installation, proper tile screeding maintenance is crucial for the long-term durability of your tiled surfaces. We provide guidance and services to help you maintain your tiles, ensuring they remain not only aesthetically pleasing but also resistant to wear and tear, so you can enjoy their beauty for years to come.',
    },
  ],
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto w-full px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-8 lg:gap-12">
      <h3 class="text-3xl font-medium tracking-tight sm:text-4xl">Complete Screeding Solutions</h3>
      <div class="grid gap-8 md:grid-cols-2">
        {
          values.map((column, index) => (
            <div class:list={['space-y-8', index === 1 && 'lg:mt-16']}>
              {column.map((value) => (
                <div class="bg-primary-500/10 dark:bg-primary-400/10 flex flex-col gap-12 rounded-3xl px-6 py-8">
                  <p class="text-sm">{value.ref}</p>
                  <div class="flex flex-col gap-4">
                    <h4 class="text-xl font-medium">{value.name}</h4>
                    <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
                      {value.description}
                    </p>
                  </div>
                </div>
              ))}
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
