---
const stats = [
  {
    name: 'Years',
    value: '25',
  },
  {
    name: 'Experts',
    value: '3',
  },
  {
    name: 'Projects',
    value: '1000+',
  },
  {
    name: 'Awards',
    value: "'3'",
  },
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-16 lg:grid-cols-2 lg:gap-24">
      <img
        class="mx-auto h-auto w-full max-w-xl rounded-3xl"
        width="576"
        height="864"
        src="/assets/slate-tile-sml.webp"
        alt="Top rated Gold Coast tiling experts - outdoor tiles for a fair price"
      />
      <div class="flex flex-col gap-10">
        <!-- Mission description -->
        <div class="space-y-8 sm:space-y-12">
          <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Gold Coast Outdoor Tiling Experts</h2>
          <div class="space-y-6">
            <h3 class="text-2xl font-medium tracking-tight">Elevate Your Outdoor Space with Golden Tiling's Expertise</h3>
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              Welcome to Golden Tiling's Outdoor Tiling page, where we specialize in transforming ordinary outdoor areas 
              into extraordinary outdoor sanctuaries. Your outdoor space is an extension of your home, and we believe it 
              should be a reflection of your style, taste, and personality. Whether you have a patio, a garden terrace, a 
              poolside deck, or any other outdoor area, we are here to turn your vision into a reality.
            </p>
            <h3 class="text-2xl font-medium tracking-tight">Gold Coast's Premier Outdoor Tiling Specialists</h3>
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              Golden Tiling has established itself as Gold Coast's premier outdoor tiling specialist, known for exceptional 
              craftsmanship, creative design, and a commitment to quality. Our dedicated team of professionals understands 
              the unique challenges that outdoor tiling presents, from weather resistance to slip resistance. We work closely 
              with you to select the perfect tiles, patterns, and layouts that not only enhance the aesthetics of your outdoor 
              space but also ensure its functionality and longevity.
            </p>
            <h3 class="text-2xl font-medium tracking-tight">Endless Possibilities, Lasting Beauty</h3>
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              With Golden Tiling, the possibilities for your outdoor space are endless. Whether you're looking to create a serene, 
              natural oasis with stone tiling, a contemporary retreat with modern tiles, or a tropical paradise with exotic patterns, 
              we have the expertise to bring your ideas to life. Our outdoor tiling solutions are built to withstand the Gold Coast's 
              climate, providing not just beauty but also durability.
            </p>
          </div>
        </div>

        <!-- Stats -->
        <dl class="grid grid-cols-1 gap-6 sm:grid-cols-2">
          {
            stats.map((stat) => (
              <div class="border-primary-900/10 dark:border-primary-300/10 rounded-3xl border p-6">
                <dt class="text-base">{stat.name}</dt>
                <dd class="text-3xl font-medium tracking-tight">{stat.value}</dd>
              </div>
            ))
          }
        </dl>
      </div>
    </div>
  </div>
</section>
