---
const stats = [
  {
    name: 'Experts',
    value: '5',
  },
  {
    name: 'Years',
    value: '29',
  },
  {
    name: 'Projects',
    value: '160+',
  },
  {
    name: 'Awards',
    value: "3",
  },
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto px-4 sm:px-6 w-full lg:max-w-7xl lg:px-8">
    <div class="grid lg:grid-cols-2 lg:gap-24">
      
      <div class="flex flex-col gap-10">
        <!-- Mission description -->
        <div class="space-y-8 sm:space-y-12">
          <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Gold Coast Splash Wall Tiling Experts</h2>
          <div class="space-y-6">
            <h3 class="text-2xl font-medium tracking-tight">Expert Gold Coast Tiler for Pod Tiling</h3>
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              A N Golden Tile, your trusted Gold Coast tiler, specializes in cutting-edge Pod Tiling solutions. 
              Our expertise and dedication to precision make us the top choice for transforming spaces with seamless, modern design.
            </p>
            <h3 class="text-2xl font-medium tracking-tight">Pod Tiling: Elevating Gold Coast Spaces</h3>
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              Discover the transformative power of Pod Tiling on the Gold Coast. A N Golden Tile's services combine craftsmanship 
              and innovation to create visually stunning, functional, and minimalist interiors for homes and businesses.
            </p>
          </div>
        </div>

      </div>

      <div class="flex flex-col gap-10 mt-6 lg:mt-20">
        

        <div class="flex flex-col gap-10">
          <!-- Mission description -->
          <div class="space-y-8 sm:space-y-12 lg:mt-2">
            <div class="space-y-6">
              <h3 class="text-2xl font-medium tracking-tight">Gold Coast's Leading Pod Tiling Specialists</h3>
              <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
                As the leading Gold Coast Pod Tiling specialists, we take pride in our commitment to quality and excellence. 
                Our tiling expertise, combined with a deep understanding of local design trends, ensures your project stands out.
              </p>
              <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
                At A N Golden Tile, we deliver seamless elegance with every Pod Tiling project. Our Gold Coast tiler services 
                provide sleek and sophisticated finishes that enhance both commercial and residential spaces, making your vision a reality.
              </p>
            </div>
          </div>

        <!-- Stats -->
        
      </div>
    </div>
  </div>
  <div class="w-full my-16">
    <dl class="grid gap-4 md:gap-8 grid-cols-2">
      {
        stats.map((stat) => (
          <div class="border-primary-900/10 dark:border-primary-300/10 rounded-3xl border p-8">
            <dt class="text-base">{stat.name}</dt>
            <dd class="text-3xl font-medium tracking-tight">{stat.value}</dd>
          </div>
        ))
      }
    </dl>
  </div>
</section>
