<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 text-center sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-4 sm:gap-6">
      <h1 class="text-4xl font-medium tracking-tight sm:text-5xl lg:text-6xl">Bathroom Tiling</h1>
      <p class="text-primary-950/70 dark:text-primary-200/70 mx-auto max-w-4xl text-lg sm:text-xl">
        When it comes to transforming your bathroom into a haven of luxury and functionality, 
        Golden Tiling is your trusted partner on the Gold Coast. Our bathroom tiling services 
        are designed to elevate your space, turning it into a place of relaxation and rejuvenation. 
        With a passion for precision and an eye for design, we take pride in delivering top-notch solutions 
        that not only meet but exceed your expectations.
      </p>
    </div>
  </div>
</section>
