---
const stats = [
  {
    name: 'Years',
    value: '25',
  },
  {
    name: 'Experts',
    value: '3',
  },
  {
    name: 'Projects',
    value: '1000+',
  },
  {
    name: 'Awards',
    value: "'3'",
  },
];
---


<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-16 lg:grid-cols-2 lg:gap-24">
      <img
        class="mx-auto h-auto w-full max-w-xl rounded-3xl"
        width="576"
        height="864"
        src="/assets/bath.webp"
        alt="Top rated Gold Coast bathroom tiling experts - bathroom tiles for a fair price"
      />
      <img
        class="mx-auto h-auto w-full max-w-xl rounded-3xl"
        width="576"
        height="864"
        src="/assets/bathroom-tile-sml.webp"
        alt="Top rated Gold Coast bathroom tiling experts - bathroom tiles for a fair price"
      />
      
      <div class="flex flex-col gap-10">
        <!-- Mission description -->
        <div class="space-y-8 sm:space-y-12">
          <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Gold Coast Bathroom Tiling Experts</h2>
          <div class="space-y-6">
            <h3 class="text-2xl font-medium tracking-tight">Unmatched Expertise</h3>
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              At Golden Tiling, we understand that your bathroom is more than just a functional space; 
              it's a reflection of your style and personality. That's why we bring unmatched expertise to 
              every project. Our team of experienced tiling professionals is well-versed in the latest trends 
              and techniques, ensuring that your bathroom is not only beautiful but also built to last.
            </p>
            <h3 class="text-2xl font-medium tracking-tight">Tailored Solutions</h3>
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              Every bathroom is unique, and we believe your tiling should be too. Our tailored solutions cater 
              to your specific needs and preferences. Whether you're envisioning a sleek and modern design or a 
              timeless, classic look, we work closely with you to select the perfect tiles, patterns, and layouts 
              that align with your vision.
            </p>
          </div>
        </div>

      </div>

      <div class="flex flex-col gap-10 mt-20">
        

        <div class="flex flex-col gap-10">
          <!-- Mission description -->
          <div class="space-y-8 sm:space-y-12">
            <div class="space-y-6">
              <h3 class="text-2xl font-medium tracking-tight">Quality Assurance</h3>
              <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
                At Golden Tiling, quality is at the core of everything we do. We source the finest materials and 
                employ rigorous quality control measures to ensure that every tile is placed with precision and care. 
                Our commitment to excellence means your bathroom will not only be aesthetically pleasing but also durable 
                and resilient against moisture and wear.
              </p>
            </div>
          </div>

        <!-- Stats -->
        
      </div>
    </div>
    <div class="w-full">
      <dl class="grid grid-cols-1 gap-6 sm:grid-cols-2">
        {
          stats.map((stat) => (
            <div class="border-primary-900/10 dark:border-primary-300/10 rounded-3xl border p-6">
              <dt class="text-base">{stat.name}</dt>
              <dd class="text-3xl font-medium tracking-tight">{stat.value}</dd>
            </div>
          ))
        }
      </dl>
    </div>
  </div>
</section>
