<!-- CSS -->
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">

<!-- JavaScript -->
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

<style>
  .carousel-cell {
  height: 650px; /* height of carousel */
  max-height: 650px;
  min-height: 650px;
  margin-right: 15px;
}

@media only screen and (max-width: 968px) {
  .carousel-cell {
    height: 420px; /* height of carousel */
    max-height: 420px;
    min-height: 420px;
  }
}
</style>

<section class="py-4 sm:py-8 mb-4">
  

  <div class="mx-auto px-4 sm:px-6 w-full lg:px-8">
    <div class="carousel" data-flickity='{ "freeScroll": true, "contain": true, "autoPlay: 2400" }'>
      <div class="carousel-cell">
        <img
          class="h-auto"
          width="920"
          height="460"
          src="/assets/bath/bath-1.webp"
          alt="Hero picture - Slate Tiling by Golden Tile for a Gold Coast client"
        />
      </div>
      <div class="carousel-cell">
        <img
          class="h-auto"
          width="920"
          height="460"
          src="/assets/bath/bath-2.webp"
          alt="Hero picture - Pool Tiling by Golden Tile for a Gold Coast client"
        />
      </div>
      <div class="carousel-cell">
        <img
          class="h-auto"
          width="920"
          height="460"
          src="/assets/bath/bath-3.webp"
          alt="Hero picture - Bathroom Tiling by Golden Tile for a Gold Coast client"
        />
      </div>
      <div class="carousel-cell">
        <img
          class="h-auto"
          width="920"
          height="460"
          src="/assets/bath/bath-4.webp"
          alt="Hero picture - Lounge Room and Living Room large format Tiling by Golden Tile for a Gold Coast client"
        />
      </div>
      <div id="verticalImg" class="carousel-cell">
        <img
          class="h-auto"
          width="920"
          height="460"
          src="/assets/bath/bath-5.webp"
          alt="Hero picture - Pool Tiling by Golden Tile for a Gold Coast client"
        />
      </div>
      
      <div class="carousel-cell">
        <img
          class="h-auto"
          width="920"
          height="460"
          src="/assets/bath/bath-6.webp"
          alt="Hero picture - Bathroom Tiling by Golden Tile for a Gold Coast client"
        />
      </div>
      
      <div class="carousel-cell">
        <img
          class="h-auto"
          width="920"
          height="460"
          src="/assets/bath/bath-7.webp"
          alt="Hero picture - Stone Tiling by Golden Tile for a Gold Coast client"
        />
      </div>
      <div id="verticalImg" class="carousel-cell">
        <img
          class="h-auto"
          width="920"
          height="460"
          src="/assets/bath/bath-8.webp"
          alt="Hero picture - Waterproofing and Bathroom Tiling by Golden Tile for a Gold Coast client"
        />
      </div>
      <div id="verticalImg" class="carousel-cell">
        <img
          class="h-auto"
          width="920"
          height="460"
          src="/assets/bath/bath-9.webp"
          alt="Hero picture - Waterproofing and Bathroom Tiling by Golden Tile for a Gold Coast client"
        />
      </div>
      <div id="verticalImg" class="carousel-cell">
        <img
          class="h-auto"
          width="920"
          height="460"
          src="/assets/bath/bath-10.webp"
          alt="Hero picture - Waterproofing and Bathroom Tiling by Golden Tile for a Gold Coast client"
        />
      </div>
      <div id="verticalImg" class="carousel-cell">
        <img
          class="h-auto"
          width="920"
          height="460"
          src="/assets/bath/bath-11.webp"
          alt="Hero picture - Waterproofing and Bathroom Tiling by Golden Tile for a Gold Coast client"
        />
      </div>
      <div id="verticalImg" class="carousel-cell">
        <img
          class="h-auto"
          width="920"
          height="460"
          src="/assets/bath/bath-12.webp"
          alt="Hero picture - Waterproofing and Bathroom Tiling by Golden Tile for a Gold Coast client"
        />
      </div>
      <div id="verticalImg" class="carousel-cell">
        <img
          class="h-auto"
          width="920"
          height="460"
          src="/assets/bath/bath-13.webp"
          alt="Hero picture - Waterproofing and Bathroom Tiling by Golden Tile for a Gold Coast client"
        />
      </div>
      <div id="verticalImg" class="carousel-cell">
        <img
          class="h-auto"
          width="920"
          height="460"
          src="/assets/bath/bath-14.webp"
          alt="Hero picture - Waterproofing and Bathroom Tiling by Golden Tile for a Gold Coast client"
        />
      </div>
    </div>
  </div>
</section>
