---
const values = [
  [
    {
      ref: '01',
      name: 'Bathroom Tiling Materials and Options',
      description:
        'Explore a wide range of bathroom tiling materials and options to inspire your bathroom renovation project.',
    },
    {
      ref: '02',
      name: 'Bathroom Tiling Installation Expertise',
      description:
        'Learn about our expert teams skills and techniques for flawless bathroom tiling installations that transform your space.',
    },
  ],
  [
    {
      ref: '03',
      name: 'Bathroom Tiling Design Ideas',
      description:
        'Get inspired with creative bathroom tiling design ideas, including patterns, colors, and layouts for a personalized touch.',
    },
    {
      ref: '04',
      name: 'Bathroom Tiling Maintenance and Care',
      description:
        'Discover essential tips and services for maintaining the beauty and longevity of your bathroom tiling investment.',
    },
  ],
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto px-4 sm:px-6 w-full lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-8 lg:gap-12">
      <h4 class="text-3xl font-medium tracking-tight sm:text-4xl">Our Values</h4>
      <div class="grid gap-8 md:grid-cols-2">
        {
          values.map((column, index) => (
            <div class:list={['space-y-8', index === 1 && 'lg:mt-16']}>
              {column.map((value) => (
                <div class="bg-primary-600/10 dark:bg-primary-400/10 flex flex-col gap-12 rounded-3xl px-6 py-8">
                  <p class="text-sm">{value.ref}</p>
                  <div class="flex flex-col gap-4">
                    <h3 class="text-xl font-medium">{value.name}</h3>
                    <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
                      {value.description}
                    </p>
                  </div>
                </div>
              ))}
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
