---
const values = [
  [
    {
      ref: '01',
      name: 'Unique Feature Wall Tiling Solutions',
      description:
        'Elevate your space with our unique feature wall tiling solutions. Whether you desire a striking focal point in your home or a captivating design element in a commercial setting, our expertise and wide selection of materials will bring your vision to life.',
    },
    {
      ref: '02',
      name: 'Expert Feature Wall Tiling Installation',
      description:
        'Our team of expert installers specializes in bringing your feature wall vision to life. With meticulous attention to detail and a focus on precision, we ensure that every tile placement enhances the visual impact of your feature wall, turning it into a work of art.',
    },
  ],
  [
    {
      ref: '03',
      name: 'Inspiring Feature Wall Tiling Ideas',
      description:
        'Explore a gallery of inspiring feature wall tiling ideas to spark your creativity. From textured tiles that add depth to your space to vibrant patterns that create a sense of drama, our designs will help you transform any room into a captivating masterpiece.',
    },
    {
      ref: '04',
      name: 'Feature Walls Maintenance',
      description:
        'Once your feature wall is complete, our commitment to your satisfaction continues with tips and services for maintaining its wow factor. We provide guidance on cleaning, care, and periodic maintenance to ensure that your feature wall remains a stunning focal point for years to come.',
    },
  ],
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto px-4 sm:px-6 w-full lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-8 lg:gap-12">
      <h4 class="text-3xl font-medium tracking-tight sm:text-4xl">Full Suite Service</h4>
      <div class="grid gap-8 md:grid-cols-2">
        {
          values.map((column, index) => (
            <div class:list={['space-y-8', index === 1 && 'lg:mt-16']}>
              {column.map((value) => (
                <div class="bg-primary-500/10 dark:bg-primary-400/10 flex flex-col gap-12 rounded-3xl px-6 py-8">
                  <p class="text-sm">{value.ref}</p>
                  <div class="flex flex-col gap-4">
                    <h3 class="text-xl font-medium">{value.name}</h3>
                    <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
                      {value.description}
                    </p>
                  </div>
                </div>
              ))}
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
