---
const stats = [
  {
    name: 'Experts',
    value: '5',
  },
  {
    name: 'Years',
    value: '29',
  },
  {
    name: 'Projects',
    value: '160+',
  },
  {
    name: 'Awards',
    value: "3",
  },
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-16 lg:grid-cols-2 lg:gap-24">
      <img
        class="mx-auto h-auto w-full max-w-xl rounded-3xl"
        width="576"
        height="864"
        src="/assets/bathroom-tile-sml.webp"
        alt="Our experts working together"
      />
      <div class="flex flex-col gap-10">
        <!-- Mission description -->
        <div class="space-y-8 sm:space-y-12">
          <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Our Mission</h2>
          <div class="space-y-6">
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              Welcome to Golden Tiling, where we blend impeccable craftsmanship with visionary design. 
              Allow us to introduce you to the driving force behind our success, the creative genius and 
              dedicated leader, Alex Nora. With a lifelong passion for tiling and an unwavering commitment 
              to excellence, Alex has not only transformed the tiling landscape on the Gold Coast but has 
              also left an indelible mark on the industry.
            </p>
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              Alex Nora's journey into the world of tiling began with an innate fascination for the intricate 
              patterns and textures that tiles can create. This fascination soon evolved into a career dedicated 
              to the art of tiling, and Alex's exceptional talent for turning ordinary spaces into extraordinary 
              works of art became evident. With years of experience and a keen eye for detail, Alex has consistently 
              pushed the boundaries of innovation in tiling, bringing fresh perspectives and creative solutions to 
              every project undertaken.
            </p>
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              At Golden Tiling, Alex Nora's vision is not just about aesthetics but also about functionality, durability, 
              and exceeding clients' expectations. With a focus on customer satisfaction and a commitment to staying at 
              the forefront of tiling trends and techniques, Alex ensures that every project, whether it's a bathroom 
              transformation, a kitchen renovation, or outdoor tiling, is executed to perfection. Join us on this journey 
              as we explore the world of tiling through the eyes of a true industry visionary, Alex Nora.
            </p>
          </div>
        </div>

        <!-- Stats -->
        <dl class="grid grid-cols-1 gap-6 sm:grid-cols-2">
          {
            stats.map((stat) => (
              <div class="border-primary-900/10 dark:border-primary-300/10 rounded-3xl border p-6">
                <dt class="text-base">{stat.name}</dt>
                <dd class="text-3xl font-medium tracking-tight">{stat.value}</dd>
              </div>
            ))
          }
        </dl>
      </div>
    </div>
  </div>
</section>
