---
const stats = [
  {
    name: 'Expert',
    value: '1',
  },
  {
    name: 'Years',
    value: '15',
  },
  {
    name: 'Projects',
    value: '250+',
  },
  {
    name: 'Awards',
    value: "3",
  },
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-16 lg:grid-cols-2 lg:gap-24">
      
      <div class="flex flex-col gap-10">
        <!-- Mission description -->
        <div class="space-y-8 sm:space-y-12">
          <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Gold Coast Splash Wall Tiling Experts</h2>
          <div class="space-y-6">
            <h3 class="text-2xl font-medium tracking-tight">Golden Tiling's Splash Wall Tiling Services</h3>
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              Welcome to Golden Tiling, where we invite you to explore the rustic charm and enduring appeal of splash wall tiling. 
              Our splash wall tiling services on the Gold Coast are designed to infuse your indoor and outdoor spaces with a touch 
              of natural beauty and robust durability. With a dedication to craftsmanship and a passion for creating spaces 
              that stand the test of time, Golden Tiling is your trusted partner for transforming ordinary areas into extraordinary 
              showcases of splash wall's unique character.
            </p>
            <h3 class="text-2xl font-medium tracking-tight">The Unmatched Allure of Splash Wall</h3>
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              splash wall, with its rugged textures and rich earthy tones, brings a unique and captivating aesthetic to any space. 
              At Golden Tiling, we specialize in the art of splash wall tiling, offering a wide variety of splash wall types and patterns 
              that allow you to create a distinctive look that suits your style. Whether you're envisioning a cozy fireplace 
              surround, a durable outdoor patio, or a rustic kitchen floor, our team of tiling experts ensures that each splash wall 
              tile is meticulously placed to enhance both aesthetics and functionality.
            </p>
          </div>
        </div>

      </div>

      <div class="flex flex-col gap-10 mt-20">
        

        <div class="flex flex-col gap-10">
          <!-- Mission description -->
          <div class="space-y-8 sm:space-y-12 lg:mt-2">
            <div class="space-y-6">
              <h3 class="text-2xl font-medium tracking-tight">Quality and Endurance</h3>
              <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
                Our commitment to quality is unwavering. We source the finest splash wall materials, and our skilled professionals 
                utilize cutting-edge techniques to ensure every tile installation is flawless. The result? Spaces that not 
                only radiate beauty but also withstand the rigors of daily use and the Gold Coast's dynamic climate. When 
                you choose Golden Tiling for your splash wall tiling project, you're choosing excellence, durability, and a connection 
                to nature's enduring elegance.
              </p>
              <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
                Discover the timeless allure of splash wall tiling with Golden Tiling. Contact us today to schedule a consultation and 
                experience how our Gold Coast splash wall tiling services can elevate your spaces, providing lasting beauty and functionality 
                that you'll cherish for years to come.
              </p>
            </div>
          </div>

        <!-- Stats -->
        
      </div>
    </div>
  </div>
  <div class="w-full my-16">
    <dl class="grid grid-cols-1 gap-8 sm:grid-cols-2">
      {
        stats.map((stat) => (
          <div class="border-primary-900/10 dark:border-primary-300/10 rounded-3xl border p-8">
            <dt class="text-base">{stat.name}</dt>
            <dd class="text-3xl font-medium tracking-tight">{stat.value}</dd>
          </div>
        ))
      }
    </dl>
  </div>
</section>
