---
const values = [
  [
    {
      ref: '01',
      name: 'Functional Aesthetic',
      description:
        'Splash wall tiling is the perfect combination of form and function, making it an ideal choice for kitchens and bathrooms. It not only adds a touch of elegance but also offers a protective barrier against moisture and splashes, ensuring the longevity and beauty of your walls.',
    },
    {
      ref: '02',
      name: 'Kitchen Splashbacks',
      description:
        'In kitchens, splash wall tiling is commonly used as splashbacks behind stoves and sinks. It is a practical solution that not only guards against food splatters and spills but also enhances the visual appeal of your culinary space, allowing for easy cleaning and maintenance.',
    },
  ],
  [
    {
      ref: '03',
      name: 'Bathroom Wall Protection',
      description:
        'Splash wall tiling is equally valuable in bathrooms, where it shields walls from water splashes, ensuring they remain mold-free and structurally sound. It adds a luxurious touch to your bathroom, transforming it into a functional and aesthetically pleasing oasis.',
    },
    {
      ref: '04',
      name: 'Commercial Spaces and Wet Areas',
      description:
        'Beyond residential use, splash wall tiling is also an excellent choice for commercial spaces, particularly in wet areas such as restaurants, hotels, and spas. It combines durability with style, making it a practical and visually appealing solution for high-traffic environments.',
    },
  ],
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto w-full px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-8 lg:gap-12">
      <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Our Values</h2>
      <div class="grid gap-8 md:grid-cols-2">
        {
          values.map((column, index) => (
            <div class:list={['space-y-8', index === 1 && 'lg:mt-16']}>
              {column.map((value) => (
                <div class="bg-primary-500/10 dark:bg-primary-400/10 flex flex-col gap-12 rounded-3xl px-6 py-8">
                  <p class="text-sm">{value.ref}</p>
                  <div class="flex flex-col gap-4">
                    <h3 class="text-xl font-medium">{value.name}</h3>
                    <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
                      {value.description}
                    </p>
                  </div>
                </div>
              ))}
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
