---
const stats = [
  {
    name: 'Expert',
    value: '1',
  },
  {
    name: 'Years',
    value: '15',
  },
  {
    name: 'Projects',
    value: '250+',
  },
  {
    name: 'Awards',
    value: '3',
  },
];
---


<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-16 lg:grid-cols-2 lg:gap-24">
      
      <div class="flex flex-col gap-10">
        <!-- Mission description -->
        <div class="space-y-8 sm:space-y-12">
          <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Pool Tiling Experts</h2>
          <div class="space-y-6">
            <h3 class="text-2xl font-medium tracking-tight">Unrivaled Quality</h3>
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              When you choose Golden Tiling for your pool tiling project, you're choosing uncompromising quality and unparalleled expertise. 
              We utilize the finest materials and employ cutting-edge techniques to ensure that your pool tiling not only looks stunning but 
              also stands up to the harsh Gold Coast climate. Our commitment to excellence extends beyond aesthetics, it's about creating a 
              space that your family and friends can enjoy for years to come.
            </p>
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              Explore the possibilities of pool tiling with Golden Tiling. Whether you're looking to renovate your existing pool area or build 
              a new one from scratch, our expertise and dedication to perfection will turn your dreams into a reality. Contact us today to start 
              the journey toward your own pool paradise on the Gold Coast.
            </p>
          </div>
        </div>

      </div>

      <div class="flex flex-col gap-10 mt-20">
        

        <div class="flex flex-col gap-10">
          <!-- Mission description -->
          <div class="space-y-8 sm:space-y-12 lg:mt-2">
            <div class="space-y-6">
              <h3 class="text-2xl font-medium tracking-tight">Pool Tiling Solutions</h3>
              <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
                Welcome to Golden Tiling, where we turn your pool area into a luxurious oasis that mirrors the stunning landscapes of the Gold Coast. 
                Our Pool Tiling page is your gateway to discovering the perfect blend of style, safety, and durability for your swimming pool. 
                With a passion for perfection and a reputation for excellence, we are your trusted partners in transforming your pool into a masterpiece.
              </p>
              <h3 class="text-2xl font-medium tracking-tight">Design your Pool Paradise</h3>
              <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
                The Gold Coast's abundant sunshine and beautiful coastline make pool areas an integral part of our outdoor living. 
                At Golden Tiling, we understand the unique demands and opportunities that pool tiling presents. Our team of skilled 
                professionals is dedicated to creating not just a pool but a paradise that reflects your personal style. We offer a 
                wide range of exquisite tile options, from slip-resistant materials for safety to elegant designs that elevate your pool's aesthetics.
              </p>
            </div>
          </div>

        <!-- Stats -->
        
      </div>
    </div>
    
  </div>
  <div class="w-full my-16">
    <dl class="grid grid-cols-1 gap-8 sm:grid-cols-2">
      {
        stats.map((stat) => (
          <div class="border-primary-900/10 dark:border-primary-300/10 rounded-3xl border p-8">
            <dt class="text-base">{stat.name}</dt>
            <dd class="text-3xl font-medium tracking-tight">{stat.value}</dd>
          </div>
        ))
      }
    </dl>
  </div>
</section>
