<!-- CSS -->
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">

<!-- JavaScript -->
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

<!-- Perfect Flickity Styling -->
<style>
  .carousel-cell {
  margin-right: 15px;
  width: 33%;
  max-height: 520px;
}

@media only screen and (max-width: 1199px) {
  .carousel-cell {
    width: 66%;
    height: 420px;
  }
}

.carousel-cell.size-phat { width: 37%; }
@media only screen and (max-width: 1199px) {
  .carousel-cell.size-phat {
    width: 33%;
  }
}

.carousel-cell.size-vertical { width: 18.5%; }
@media only screen and (max-width: 1199px) {
  .carousel-cell.size-vertical {
    width: 37%;
  }
}
</style>

<section class="py-4 sm:py-8 mb-4">
  

  <div class="mx-auto px-4 sm:px-6 w-full lg:px-8">
    <div class="carousel" data-flickity='{ "freeScroll": true, "contain": true }'>
      
      <div class="carousel-cell">
        <img
          class="h-auto"
          width="920"
          height="460"
          src="/assets/pool/pool-5.webp"
          alt="Hero picture - Stone Tiling by Golden Tile for a Gold Coast client"
        />
      </div>
      <div class="carousel-cell">
        <img
          class="h-auto"
          width="920"
          height="460"
          src="/assets/pool/pool-4.webp"
          alt="Hero picture - Lounge Room and Living Room large format Tiling by Golden Tile for a Gold Coast client"
        />
      </div>
      <div class="carousel-cell">
        <img
          class="h-auto"
          width="920"
          height="460"
          src="/assets/pool/pool-3.webp"
          alt="Hero picture - Bathroom Tiling by Golden Tile for a Gold Coast client"
        />
      </div>
      <div id="verticalImg" class="carousel-cell">
        <img
          class="h-auto"
          width="920"
          height="460"
          src="/assets/pool/pool-v2.webp"
          alt="Hero picture - Pool Tiling by Golden Tile for a Gold Coast client"
        />
      </div>
      <div class="carousel-cell">
        <img
          class="h-auto"
          width="920"
          height="460"
          src="/assets/pool/pool-2.webp"
          alt="Hero picture - Pool Tiling by Golden Tile for a Gold Coast client"
        />
      </div>
      <div class="carousel-cell">
        <img
          class="h-auto"
          width="920"
          height="460"
          src="/assets/pool/pool-1.webp"
          alt="Hero picture - Slate Tiling by Golden Tile for a Gold Coast client"
        />
      </div>
      <div class="carousel-cell">
        <img
          class="h-auto"
          width="920"
          height="460"
          src="/assets/pool/pool-v1.webp"
          alt="Hero picture - Bathroom Tiling by Golden Tile for a Gold Coast client"
        />
      </div>
      <div id="verticalImg" class="carousel-cell">
        <img
          class="h-auto"
          width="920"
          height="460"
          src="/assets/pool/pool-6.webp"
          alt="Hero picture - Waterproofing and Bathroom Tiling by Golden Tile for a Gold Coast client"
        />
      </div>
    </div>
  </div>
</section>
