---
const stats = [
  {
    name: 'Years',
    value: '10',
  },
  {
    name: 'Projects',
    value: '120+',
  },
  {
    name: 'Awards',
    value: "4",
  },
  {
    name: 'Expert',
    value: '1',
  },
];
---
<style>
  #grid-reverse { direction: rtl; }
  @media only screen and (max-width: 1023px) {
  #grid-reverse {
    direction: ltr;
  }
}
</style>

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8 flex ">
    <div class="grid gap-8 lg:grid-cols-3">
      <div class="flex flex-col justify-center">
        
        <div>
          <!-- Mission description -->
          <div class="flex flex-col gap-10">
            <div class="flex flex-col gap-4 sm:gap-6">
              <h2 class="text-3xl sm:text-4xl font-medium tracking-tight">Kitchen Tiling with a 10 Year Project Guarantee</h2>
              <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg max-w-2xl">
                Kitchen tiling and splashbacks regularly require much more expert thought for the best final pattern. 
                Being in the centre of your home, it is important to have your kitchen tiling done professionally.
                Trust over 29 years of tiling experience and 5 years in business.
              </p>
            </div>
            <div class="flex flex-row gap-4">
              <a
                href="/kitchen-tiling"
                class="bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
              >
                Kitchen Tiling
              </a>
              <a
                href="/splash-wall-tiling"
                class="bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
              >
                Splashwalls
              </a>
            </div>
          </div>

          

      </div>
    </div>
    <div class="w-full py-48 lg:py-56 xl:py-64 h-full flex flex-col items-center justify-center gap-y-8 col-span-2 bg-cover rounded-3xl lg:mx-6" style="background-image: url(/assets/splash/splash-2.webp);">
      
    </div>
  </div>
</section>
