---
const stats = [
  {
    name: 'Experts',
    value: '5',
  },
  {
    name: 'Years',
    value: '29',
  },
  {
    name: 'Projects',
    value: '160+',
  },
  {
    name: 'Awards',
    value: '3',
  },
];
---


<section class="py-16 sm:py-20">
  <div class="mx-auto px-4 sm:px-6 w-full lg:max-w-7xl lg:px-8">
    <div class="grid lg:grid-cols-2 lg:gap-24">
      
      <div class="flex flex-col gap-10">
        <!-- Mission description -->
        <div class="space-y-8 sm:space-y-12 lg:mt-2">
          <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Gold Coast Outdoor Tiling Experts</h2>
          <div class="space-y-6">
            <h3 class="text-2xl font-medium tracking-tight">Transform Your Kitchen with Quality Tiling</h3>
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              Elevate your kitchen's aesthetic appeal with our top-quality tiling services that blend style and functionality seamlessly.
            </p>
            <h3 class="text-2xl font-medium tracking-tight">Gold Coast's Leading Kitchen Tiling Experts</h3>
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              Trust in the expertise of our Gold Coast kitchen tiling professionals to create precision-crafted designs that turn your kitchen into a culinary masterpiece.
            </p>
          </div>
        </div>

      </div>

      <div class="flex flex-col gap-10 mt-6 lg:mt-20">
        

        <div class="flex flex-col gap-10">
          <!-- Mission description -->
          <div class="space-y-8 sm:space-y-12">
            <div class="space-y-6">
              <h3 class="text-2xl font-medium tracking-tight">Personalized Kitchen Tiling Designs</h3>
              <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
                Explore our diverse selection of customizable kitchen tiling designs, allowing you to create a unique and personalized space that suits your taste and lifestyle.
              </p>
              <h3 class="text-2xl font-medium tracking-tight">Lasting Beauty and Minimal Maintenance</h3>
              <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
                Invest in kitchen tiling that not only enhances your kitchen's beauty but also offers long-term durability and minimal maintenance, ensuring a hassle-free experience.
              </p>
            </div>
          </div>

        <!-- Stats -->
        
      </div>
    </div>
  </div>
  <div class="w-full my-16">
    <dl class="grid gap-4 md:gap-8 grid-cols-2">
      {
        stats.map((stat) => (
          <div class="border-primary-900/10 dark:border-primary-300/10 rounded-3xl border p-6">
            <dt class="text-base">{stat.name}</dt>
            <dd class="text-3xl font-medium tracking-tight">{stat.value}</dd>
          </div>
        ))
      }
    </dl>
  </div>
</section>

