

<section class="py-16 sm:py-20">
  <div class="mx-auto px-4 sm:px-6 w-full lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-12 sm:gap-16">
      <h4 class="text-3xl font-medium tracking-tight sm:text-4xl">Extra Tiling Services</h4>
      
      <div class="flex flex-col md:flex-row gap-12">

        <div class="bg-primary-500/10 dark:bg-primary-400/10 rounded-3xl px-6 py-8 flex flex-col gap-4 w-full md:w-1/3">
          <h3 class="text-xl font-medium">Concrete Skreeding</h3>
          <p class="text-primary-950/70 dark:text-primary-200/70 text-base">
            Professional concrete skeeding for tiling.
          </p>
        </div>

        <div class="bg-primary-500/10 dark:bg-primary-400/10 rounded-3xl px-6 py-8 flex flex-col gap-4 w-full md:w-1/3">
          <h3 class="text-xl font-medium">Waterproofing</h3>
          <p class="text-primary-950/70 dark:text-primary-200/70 text-base">
            High quality waterproofing layers.
          </p>
        </div>

        <div class="bg-primary-500/10 dark:bg-primary-400/10 rounded-3xl px-6 py-8 flex flex-col gap-4 w-full md:w-1/3">
          <h3 class="text-xl font-medium">Tiling Supplies</h3>
          <p class="text-primary-950/70 dark:text-primary-200/70 text-base">
            Builders rate tile and tiling supplies.
          </p>
        </div>
        
      </div>

    </div>
  </div>
</section>
