---
const stats = [
  {
    name: 'Years',
    value: '10',
  },
  {
    name: 'Projects',
    value: '120+',
  },
  {
    name: 'Awards',
    value: "4",
  },
  {
    name: 'Expert',
    value: '1',
  },
];
---
<style>
  #grid-reverse { direction: rtl; }
  @media only screen and (max-width: 1023px) {
  #grid-reverse {
    direction: ltr;
  }
}
</style>

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8 flex ">
    <div id="grid-reverse" class="grid gap-8 lg:grid-cols-3 lg:px-4">
      <div class="flex flex-col justify-center">
        
        <div>
          <!-- Mission description -->
          <div style="direction: ltr;" class="flex flex-col gap-10">
            <div class="flex flex-col gap-4 sm:gap-6">
              <h2 class="text-3xl sm:text-4xl font-medium tracking-tight">Floor Tiling</h2>
              <p class="text-primary-950/70 dark:text-primary-200/70 text-sm sm:text-base leading-6 max-w-2xl">
                We're dedicated to transforming your spaces with the beauty and functionality of quality floor tiling. 
                From timeless elegance to contemporary flair, style that stands the test of time.
              </p>
            </div>
            <div class="flex flex-row gap-4">
              <a
                href="/floor-tiling"
                class="bg-primary-700 dark:bg-yellow-300 hover:bg-primary-800 dark:hover:bg-primary-200 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
              >
                Floor Tiling
              </a>
              <a
                href="/kitchen-tiling"
                class="bg-primary-700 dark:bg-yellow-300 hover:bg-primary-800 dark:hover:bg-primary-200 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
              >
                Kitchen Tiling
              </a>
            </div>
          </div>

          

      </div>
    </div>
    <div class="w-full py-48 lg:py-56 xl:py-64 h-full flex flex-col items-center justify-center gap-y-8 col-span-2 bg-cover rounded-3xl lg:mx-6" style="background-image: url(/assets/floors/3.webp); background-position: center;">
      
    </div>
  </div>
</section>
