---
const stats = [
  {
    name: 'Expert',
    value: '1',
  },
  {
    name: 'Years',
    value: '15',
  },
  {
    name: 'Projects',
    value: '250+',
  },
  {
    name: 'Awards',
    value: "3",
  },
];
---
<style>
  #grid-reverse { direction: rtl; }
  @media only screen and (max-width: 1023px) {
  #grid-reverse {
    direction: ltr;
  }
}
</style>

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8 flex ">
    <div class="grid gap-8 lg:grid-cols-3">
      <div class="flex flex-col justify-center">
        
        <div>
          <!-- Mission description -->
          <div class="flex flex-col gap-10">
            <div class="flex flex-col gap-4 sm:gap-6">
              <h2 class="text-3xl sm:text-4xl font-medium tracking-tight">Pool Tiling</h2>
              <p class="text-primary-950/70 dark:text-primary-200/70 text-sm sm:text-base leading-6 max-w-2xl">
                One of my tiling specialities is my ability to work out complex pool tiling curves and areas.
                Making sure all edges have been deeply planned out for the best final product.
              </p>
            </div>
            <div class="flex flex-row gap-4">
              <a
                href="/pool-tiling"
                class="bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
              >
                Pool Tiling
              </a>
              <a
                href="/protective-services"
                class="bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
              >
                Waterproofing
              </a>
            </div>
          </div>

          

      </div>
    </div>
    <div class="w-full py-32 lg:py-48 xl:py-72 h-full flex flex-col items-center justify-center gap-y-8 col-span-2 bg-cover rounded-3xl lg:mx-6" style="background-image: url(/assets/pool/pool-3.webp);">
      
    </div>
  </div>
</section>
