---
const services = [
  {
    step: '01',
    name: 'Design',
    description:
      'From conceptual sketches to detailed plans, we ensure that every aspect of your project is carefully considered, resulting in a design that combines functionality, beauty, and innovation. Whether you are looking to transform your space or embark on a new venture, our design experts are here to make your dreams a reality.',
  },
  {
    step: '02',
    name: 'Build',
    description:
      'From the foundations to the finishing touches, our construction team is dedicated to delivering quality workmanship, on-time completion, and adherence to budget. We take pride in our ability to turn architectural visions into beautiful outcomes. We never cut corners and always aim for the highest quality finish.',
  },
  {
    step: '03',
    name: 'Maintain',
    description:
      'Once your project is complete, our commitment to your satisfaction does not end. Our maintenance services ensure that your investment retains its beauty and functionality for years to come. Whether it is routine upkeep or repairs, We are always here to help. Quality maintenance to extend home lifetime.',
  },
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto px-4 sm:px-6 w-full lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-8">
      <h4 class="text-3xl font-medium tracking-tight sm:text-4xl">Quality Service</h4>
      <div class="grid gap-4 md:gap-8 grid-cols-3">
        {
          services.map((service) => (
            <div class="bg-primary-600/10 dark:bg-primary-400/10 flex flex-col gap-8 rounded-3xl px-4 md:px-6 py-8">
              <p class="text-sm">{service.step}</p>
              <div class="flex flex-col gap-4">
                <h3 class="text-xl font-medium">{service.name}</h3>
                <p class="text-primary-950/70 dark:text-primary-200/70 text-xs hidden md:block leading-normal md:leading-loose italic">
                  {service.description}
                </p>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
