<!-- CSS -->
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">

<!-- JavaScript -->
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

<!-- Perfect Flickity Home Page -->
<style>
  .carousel-cell {
  margin-right: 15px;
  width: 30%;
  height: 420px;
  max-width: 1080px;
}

@media only screen and (max-width: 1440px) {
  .carousel-cell {
    width: 50%;
    height: 320px;
  }
}


@media only screen and (max-width: 768px) {
  .carousel-cell {
    height: 240px;
    width: 65%;
  }
}

.carousel-cell.size-vertical { width: 15%; }
@media only screen and (max-width: 1440px) {
  .carousel-cell.size-vertical {
    width: 25%;
  }
}
@media only screen and (max-width: 768px) {
  .carousel-cell.size-vertical {
    width: 40%;
  }
}
</style>

<section class="py-4 sm:py-8 mb-4">
  
  <div class="mx-auto px-4 sm:px-6 w-full lg:px-8">
    <div class="carousel" data-flickity='{ "freeScroll": true, "contain": true, "autoPlay": 1400, "groupCells": "33%", "pauseAutoPlayOnHover": false }'>

      <div class="carousel-cell size-vertical rounded-3xl bg-cover h-full" style="background-image: url(/assets/bath/bath-1.webp);"></div>
      
      <div class="carousel-cell rounded-3xl bg-cover h-full" style="background-image: url(/assets/pool/pool-4.webp);"></div>
      
      <div class="carousel-cell size-vertical rounded-3xl bg-cover h-full" style="background-image: url(/assets/bath/bath-3.webp);"></div>
      
      <div class="carousel-cell size-vertical rounded-3xl bg-cover h-full" style="background-image: url(/assets/bath/bath-5.webp);"></div>

      <div class="carousel-cell rounded-3xl bg-cover h-full" style="background-image: url(/assets/pool/pool-1.webp);"></div>

      <div class="carousel-cell rounded-3xl bg-cover h-full" style="background-image: url(/assets/splash/splash-1.webp);"></div>

      <div class="carousel-cell rounded-3xl bg-cover h-full" style="background-image: url(/assets/pool/pool-3.webp);"></div>

      <div class="carousel-cell size-vertical rounded-3xl bg-cover h-full" style="background-image: url(/assets/bath/bath-2.webp);"></div>

      <div class="carousel-cell rounded-3xl bg-cover h-full" style="background-image: url(/assets/pool/pool-5.webp);"></div>
      
      <div class="carousel-cell size-vertical rounded-3xl bg-cover h-full" style="background-image: url(/assets/splash/splash-2.webp);"></div>

      <div class="carousel-cell rounded-3xl bg-cover h-full" style="background-image: url(/assets/pool/pool-2.webp);"></div>
      
      <div class="carousel-cell min-h-full size-vertical rounded-3xl">
        <img
          class=" rounded-3xl"
          width="460"
          height="920"
          src="/assets/feature-wall/feature-2.webp"
          alt="Gold Coast Tiler and Professional Tiling by Golden Tile for a Gold Coast client"
        />
      </div>
      <!-- bg-cover effect needs atleast one image used at back for flickity to work -->
    </div>
  </div>
</section>
