<!-- CSS -->
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">

<!-- JavaScript -->
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

<style>
  .carousel-cell {
  height: 550px; /* height of carousel */
  max-height: 550px;
  margin-right: 15px;
}

@media only screen and (max-width: 968px) {
  .carousel-cell {
    height: 360px; /* height of carousel */
    max-height: 360px;
  }
}
</style>

<section class="py-4 sm:py-8">
  

  <div class="mx-auto px-4 sm:px-6 w-full lg:px-8">
    <div class="carousel" data-flickity='{ "freeScroll": true, "contain": true, "adaptiveHeight": true }'>
      <div class="carousel-cell">
        <img
          class="h-auto"
          width="920"
          height="460"
          src="/assets/slate-tile-sml.webp"
          alt="Hero picture - Slate Tiling by Golden Tile for a Gold Coast client"
        />
      </div>
      <div id="verticalImg" class="carousel-cell">
        <img
          class="h-auto"
          width="460"
          height="920"
          src="/assets/bathroom-tile-sml.webp"
          alt="Hero picture - Bathroom Tiling by Golden Tile for a Gold Coast client"
        />
      </div>
      <div id="verticalImg" class="carousel-cell">
        <img
          class="h-auto"
          width="520"
          height="920"
          src="/assets/pool-tile.webp"
          alt="Hero picture - Pool Tiling by Golden Tile for a Gold Coast client"
        />
      </div>
      <div class="carousel-cell">
        <img
          class="h-auto"
          width="920"
          height="460"
          src="/assets/pool-sml.webp"
          alt="Hero picture - Pool Tiling by Golden Tile for a Gold Coast client"
        />
      </div>
      <div id="verticalImg" class="carousel-cell">
        <img
          class="h-auto"
          width="460"
          height="920"
          src="/assets/bath-tile-sml.webp"
          alt="Hero picture - Bathroom Tiling by Golden Tile for a Gold Coast client"
        />
      </div>
      <div class="carousel-cell">
        <img
          class="h-auto"
          width="920"
          height="460"
          src="/assets/lounge-room-tile-sml.webp"
          alt="Hero picture - Lounge Room and Living Room large format Tiling by Golden Tile for a Gold Coast client"
        />
      </div>
      <div class="carousel-cell">
        <img
          class="h-auto"
          width="920"
          height="460"
          src="/assets/stone-tile-sml.webp"
          alt="Hero picture - Stone Tiling by Golden Tile for a Gold Coast client"
        />
      </div>
      <div id="verticalImg" class="carousel-cell">
        <img
          class="h-auto"
          width="460"
          height="920"
          src="/assets/bath.webp"
          alt="Hero picture - Waterproofing and Bathroom Tiling by Golden Tile for a Gold Coast client"
        />
      </div>
    </div>
  </div>
</section>
