---
const testimonials = [
  {
    name: 'Rebecca Hayes',
    description: 'Pool Tiling Client',
    image: '/assets/testimonial-1.webp',
    message:
      '“I can not express enough how thrilled I am with A N Golden Tiling! Their team turned my outdated bathroom into a modern oasis. From the first consultation to the final tile placement, their attention to detail was impeccable. The project was completed ahead of schedule, and I could not be happier with the results. Thank you, A N Golden Tiling, for making my home feel like a five-star resort!”',
  },
  {
    name: 'Rosa Spencer',
    description: 'Kitchen Tiling Client',
    image: '/assets/testimonial-2.webp',
    message:
      '“A N Golden Tiling exceeded all my expectations! They transformed my kitchen with stunning tile work, and the craftsmanship is outstanding. The team was professional, punctual, and respectful of my home throughout the entire process. I highly recommend them for anyone looking to enhance their living space. Thanks, A N Golden Tiling, for making my kitchen a true masterpiece!”',
  },
  {
    name: 'Christina Upton',
    description: 'Feature Wall Client',
    image: '/assets/testimonial-3.webp',
    message:
      '“A N Golden Tiling made my patio the envy of the neighborhood! The slate tiling they installed is not only beautiful but also incredibly durable. The team worked tirelessly to ensure every detail was perfect, and the result speaks for itself. I now have the perfect outdoor space for hosting gatherings and enjoying sunny days. A N Golden Tiling is the best choice for all your tiling needs!”',
  },
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto px-4 sm:px-6 w-full lg:max-w-7xl lg:px-8">
    <div class="flex flex-col items-center gap-12 lg:gap-20">
      <h4 class="mx-auto max-w-xl text-center text-md font-medium tracking-widest uppercase">
        Always Providing The Highest Quality Tiling Work
      </h4>
      <div
        class="divide-primary-900/10 dark:divide-primary-300/10 grid divide-y lg:grid-cols-3 lg:divide-x lg:divide-y-0"
      >
        {
          testimonials.map((testimonial) => (
            <figure class="mx-auto flex max-w-lg flex-col items-center gap-6 py-8 lg:px-8 lg:py-0">
              <div class="flex flex-row gap-2">
                {[...Array(3)].map(() => (
                  <svg
                    class="text-primary-600 dark:text-primary-400 h-6 w-6"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    aria-hidden="true"
                  >
                    <path d="M12.0006 18.26L4.94715 22.2082L6.52248 14.2799L0.587891 8.7918L8.61493 7.84006L12.0006 0.5L15.3862 7.84006L23.4132 8.7918L17.4787 14.2799L19.054 22.2082L12.0006 18.26Z" />
                  </svg>
                ))}
              </div>
              <blockquote class="text-primary-950/70 dark:text-primary-200/70 text-center text-xs italic leading-loose">
                <p>{testimonial.message}</p>
              </blockquote>
              <figcaption class="flex flex-col gap-4">
                <img class="mx-auto h-8 w-8 rounded-full" src={testimonial.image} alt="" />
                <div class="text-center">
                  <div class="text-base font-medium">{testimonial.name}</div>
                  <div class="text-primary-950/70 dark:text-primary-200/70 text-sm">
                    {testimonial.description}
                  </div>
                </div>
              </figcaption>
            </figure>
          ))
        }
      </div>
    </div>
  </div>
</section>
